body  {
    margin:0px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    scroll-behavior: smooth;
    background-color: #395555;
    color: rgb(206, 206, 197);
    line-height: 1.3;
    }
/*HEADER SECTION*/

header { 
width: 100%;
margin:auto;
padding: 0px;
position:relative;

}
.navBar-section {
    display: flex;
    margin-top:5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 0px;
 }
 .navBar-logo h1{
     
     font-family:"Sofia", sans-serif;
     font-size: 30px;
     margin: 0px;
     font-weight: bolder;
     padding: 0px;
}
.navBar-logo h1 span {  color: rgb(21, 255, 0);}

.search-bar {
     display: flex;
    width: 60%; 
    height:40px;
    border: 0px;
    
    
}
.search-btn{  
     width: 10%;
     padding: 0;
     background-color:rgb(101, 172, 148);
     border: 0px;
     border-radius: 10px;    
    }
    .search-btn:hover{

     background-color: #138809;

    }


.navBar-option span{ 
    overflow: hidden;
    display: none;
    
      
}

.navBar-option .icon{  
     
    font-size: 50px;
    margin-left: 0px;
    color: rgb(40, 185, 40);
}
.navBar-option .icon:hover{ 
    color: #08f300;
}


/*Media Queries For options*/

@media screen and (min-width: 1400px) {
    .navbar-options{
      display: none;
    }
  }


  @media screen and (max-width: 1400px) {
    .navbar-options{
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    .navBar-option {
      display: none;
    }
  }
 



.navBar-link{ 
    margin-top: 10px;
    margin-bottom: 40px;
    width: 90%;
    font-weight: bold;
    color: aquamarine;
     }


.nav-link{
padding: 14px 24px;
transition: color 300ms ease-in-out;
position: relative;
width:auto;

}

.nav-link:hover{
   
    color:rgb(115, 233, 79);
    transition: color 300ms ease-in-out;
    border-bottom: 5px solid rgb(18, 150, 18);

}


/*Media Queries for navBar*/
@media screen and (max-width: 900px) {
    .navBar-link{
      display: none;
    }
  }

/*About Us Section*/

.image{
    background-image: url("../imgs/und.png");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: grab;
    margin: 0px;
    margin-bottom: 60px;
    border-radius: 20px;
}
.img-p{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  }
 
.img-p h1{
    font-family:'Barrio', serif;
    color: rgb(47, 189, 71);
    font-weight: bolder;
    font-size: 55px;

}
.img-p h3{
    font-family:'Abril Fatface', serif;
    color:aquamarine;
    font-size:35px;

}

/*Title Section*/

.section-title{margin: 0px auto;
}
.section-title h1 {
    font-size: 74px;
    color: rgb(73, 214, 73);
    text-align: center;
    font-family:'Abril Fatface', serif;
    text-decoration: underline;
  }

/*Shooping Section*/
  
.img-section { 
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    margin: 30px 0;
    padding: 30px 0;
    
}
.img-card{
    display: flex;
    max-height: 500px;
    max-width:450px;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    background-color: #253b3b;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    height: 600px;
    cursor: grab;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    box-shadow: #205a49;
    transition: all 0.3s linear;
     }

.img-card img{ 

    height: auto;
}

.img-card h6{ 
    text-align: center;
    color: rgb(115, 255, 0);
    font-weight: bold;
    font-family: "Trirong", serif;
    margin-top:40px;
}
.img-card h6:hover{
    text-decoration: underline;
    color:black;

}
.img-card p{

    color: rgb(187, 176, 112);
    text-align: left;
    margin-left: 0px;
}

.img-card button{

    border-radius: 20px;
    background: linear-gradient(to right ,rgb(81, 247, 48),green);
    color: rgb(20, 20, 15);
    padding: 7px;
    margin-left: 30px;
    border: #395555 ;
    width: 150px;
    font-weight: bold;
}

button:hover{
    background: #205a49;
    cursor: grab;
    color: rgb(214, 200, 200);
}


.image-logo{
    background-image: url("../imgs/jd.webp");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: grab;
    margin-bottom: 40px;
    border-radius: 10px;
}
.image-logo3{
    background-image: url("../imgs/yeezy-04.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: grab;
    margin: 0px;
    margin-bottom: 60px;
    border-radius: 10px;
}

.image-logo2{
    background-image: url("../imgs/nike-air.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: grab;
    margin: 0px;
    margin-bottom: 60px;
    border-radius: 10px;
}


/*Media Queries for Shopping Section*/

@media screen and (max-width: 600px) {
    .img-card{
     width:80%;
    }
  }
  @media screen and (max-width: 1200px) {
    .img-section{
        flex-wrap: wrap;
        width: 100%;
        justify-content:center;  
    }
  }

  @media screen and (max-width:480px) {
      .img-section{ 
         flex-direction: column;
      }
    }
  
/*Contacts Section*/

footer{
     margin-top: 50px;
    display: flex;
    background-color: #023d3d;
    height: 600px;
    width:100%;
    border-radius: 20px;
    justify-content: space-around;
    font-family: "Trirong", serif;
    padding-bottom: 40px;
    
           
  } 
  .location{
      display: flex;
      margin-top: 70px;
      flex-direction: column;
      font-size: 18px;
      
  }
  .location h3{
      text-align: center;

}

.email input{
        width: 90%;
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        height: 40px;
        padding: 5px 10px;
        margin-bottom: 20px;
}
.social-icons{
    
        font-size: 36px;
        margin-left: 20px;
        justify-content: space-around;
      }
      .social-icons i:hover
      {
        color: #08f300;
      }


.line{

    height: 400px;
    margin: auto 0;
    border-right: 5px dashed rgb(65, 105, 32);
}

.address{   
        margin-top:250px;
        font-size:20px;
        text-align: center;
       }
.address p:hover{
    text-decoration: underline;
}
.help{
margin-top: 200px;


}
.help :hover{

text-decoration: underline;

}


/*Media Queries for Footer*/

@media screen and (max-width: 1000px) {
    footer{
        
        width: 100%;
        align-items: center;
        display: flex;
        height:800px;
        flex-direction: column;
        
         }
  
    .location{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0px;
     
    }
    .location h3{

        width: 100%;
    }


    .email input{

        width: 90%;
    }
    
    .address{
   width: 100%;
   text-align: center;
   margin-top: 0px;
    }
    .social-icons{

    width: 100%;
    }
    .help{
        margin-top: 0px;
    }
  }


 
  
  @media screen and (max-width: 1200px) {
        
  .line{
    display: none;}     
  }








